* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	color: #171A20;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;

}

html {
	scroll-behavior: smooth;
}

.desktop {
	display: none;
}

@media (min-width: 1200px) {
	.desktop{
		display: initial;
	}
}


.top-center {
	text-align: center;
	display: none;
}

@media (min-width: 1200px) {
	.top-center{
		display: initial;
	}
}

.top-right {
	text-align: right;
}

header {
	display: grid;
	grid-template-columns: auto 1fr auto;
	padding: 17px 39px;
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
}

.logo {
	height: 18px;
	width: 120px;
}

nav a {
	text-decoration: none;
	color: inherit;
	font-size: 11pt;
	padding: 5px 15px;
}

aside {
	position: fixed;
	transition: right 0.6s ease;
	right: -300px;
	width: 295px;
	padding: 80px 25px;
	z-index: 15;
	background-color: #fff;
	height: 100vh;
}

aside.active {
	right: 0;
}

aside a {
	display: block;
	padding: 11px 20px;
	text-decoration: none;
	color: inherit;
	font-weight: 200;
	font-size: 15px;
}

aside button.exit {
	background-color: transparent;
	font-size: 36px;
	font-weight: 100;
	border: none;
	position: absolute;
	top: 10px;
	right: 12px;
	padding: 8px;
	cursor: pointer;
}

.blur {
	display: none;
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, .35);
	backdrop-filter: blur(5px);
	z-index: 11;
}

.blur.active {
	display: block;
}

section {
	height: 100vh;
	background-position: center;
	background-size: cover;
}

section .content {
	width: 100%;
	height: 100vh;
	text-align: center;
	padding-top: 16vh;
	padding-bottom: 3vh;
	display: grid;
	grid-template-rows: min-content auto min-content;
	position: fixed;
	opacity: 0;
	top: 0;
	transition: opacity .3s ease;
}

section.active .content {
	opacity: 1;
}

section h1 {
	font-size: 44px;
	font-weight: 500;
}

section h2 {
	font-size: 15px;
	font-weight: 200;
	padding-top: 7px;
}

section a {
	text-decoration: underline;
}

section p {
	font-size: 13px;
	font-weight: 200;
	text-align: center;
	padding: 35px;

}

section .buttons a {
	display: block;
	border-radius: 5px;
	font-size: 15px;
	width: 100%;
	padding: 11px 50px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.735);
	background-color: #FFFFFF;
	opacity: 0.9;
}

section .buttons a:first-child {
	color: #FFFFFF;
	background-color: #171A20CC;
}

section .buttons {
	display: grid;
	row-gap: 20px;
	margin: 0 35px;
}

@media (min-width: 600px) {
	section .buttons{
		grid-template-columns: 1fr 1fr;
		width: 552px;
		height: 38px;
		margin: 0 auto;
		column-gap: 23px;
	}
}

.buttons p {
	text-align: center;
}
